*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* fondo */

.fondo{
    background-image: url("./CatAndDog.jpeg");
    width: 100%;
    height: 100%;
}

/* main */

html {
    font-size: 16px;
}
body{
    background-image: url("../Elementos/Images/pets3.png");
    width: 100%;
    height: 100%;
}

.social-bar {
    position: fixed;
    font-size: 1rem;
    display: flex;
    z-index: 100;
}

.icon {
    display: inline-block;
    background:black;
    color:white;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    transition: all .5s;   
}

.icon-phone {
    background: black;
    opacity: 0.5;
}
.icon-envelop {
    background: black;
    opacity: 0.5;
}
.icon-clock {
    background: black;
    opacity: 0.5;
}
.icon-facebook {
    background: black;
    opacity: 0.5;
}
.icon-instagram {
    background: black;
    opacity: 0.5;
}

.icon:hover {
    padding-top: 1rem;
    /*border-radius: 1rem 0 0 1rem; */
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/* Botón wpp */

.wpp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.wpp:hover {
    text-decoration: none;
    color: #25D366;
    background: white;
}

/* btnStyle */

.btn {
    position: relative;
    display: inline-block;
    /* bottom: -35px;
    right: -70%; */
    padding: 15px 30px;
    color: white;
    background: black;
    opacity: 0.5;
    border: 1px solid white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    z-index: 100;
}
.btn:hover {
    background: #40f2fe;
    box-shadow: 0 0 10px #40f2fe, 0 0 40px #40f2fe, 0 0 80px #40f2fe;
}
.btn span {
    position: absolute;
    display: block;
}
#span1 {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
    
}