*{
    margin: 0;
    padding: 0;
    border: 0;
}

.wpp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.wpp:hover {
    text-decoration: none;
    color: #25D366;
    background: white;
}